<ng-include src="'views/header.html'" class="header-wrapper"></ng-include>


<main>
	<!-- This is where all Html for the view goes. -->

	<div class="container">
		<div class="center">
				<p class="login-title">What is this and who are we?</p>
 		</div>
		
		<div class="center">
			<div class="line-about"></div>
				<p class="bread">We believe in a world where you can gather opinions about your taste in music among friends and family. Imagine hosting a dinner party where you have planned every possible detail foodwise in some fancy app, do you really think that's enough? 
				<br><br>
				Neither do we. That is why you can publish your favorite playlists and share the links with your guests, so they can rate them. This gives you the elegant advantage of knowing the musical preference of your guests, customers and other followers. Go ahead, try it now!
				</p>

				<p class="bread-center">
				If you have any questions, don't hesitate to contact us!  
				</p>		
		</div>

		<div class="col-sm-12">
				<div class="col-md-3 col-sm-6">
	    			<img class="pic-about" src="resources/jonas.jpg">
	    			<p class="bread-center">Jonas</p>
				</div>
				<div class="col-md-3 col-sm-6">
					<img class="pic-about" src="resources/philip.jpg">
					<p class="bread-center">Philip</p>
				</div>

				<div class="col-md-3 col-sm-6">
					<img class="pic-about" src="resources/aaron.jpg">
					<p class="bread-center">Aaron</p>
				</div>				
				<div class="col-md-3 col-sm-6">
					<img class="pic-about" src="resources/william.jpg">
					<p class="bread-center">William</p>
				</div>
		</div>


			

	</div>

</main>

<ng-include src="'views/footer.html'" class="footer-wrapper"></ng-include>