<header ng-controller="HeaderCtrl">
    <a>
    <img src="resources/Voteify-logo.png">
    </a>

    <a href="#/profile" ng-style="active('/profile')">
      <span class="glyphicon glyphicon-user"></span>Profile
    </a>

    <a href="#/ratedlists" ng-style="active('/ratedlists')">
      <span class="glyphicon glyphicon-tasks"></span>My Rated Lists
    </a>

    <a href="#/about" ng-style="active('/about')">
      <span class="glyphicon glyphicon-info-sign"></span>About 
    </a>

    <a href="/logout" ng-style="active('')" ng-click="signOut()">
     Sign out <span class="glyphicon glyphicon-log-out"></span>
    </a>
</header>