<header ng-controller="HeaderCtrl">
    <a>
    <img src="resources/Voteify-logo.png">
    </a>

    <a href="#/profile" ng-style="active('/profile')">
      Profile <span class="glyphicon glyphicon-user"></span>
    </a>

    <a href="#/ratedlists" ng-style="active('/ratedlists')">
      My Rated Lists <span class="glyphicon glyphicon-tasks"></span>
    </a>

    <a href="#/about" ng-style="active('/about')">
      About <span class="glyphicon glyphicon-info-sign"></span>
    </a>

    <a href="/logout" ng-style="active('')" ng-click="signOut()">
     Sign out <span class="glyphicon glyphicon-log-out"></span>
    </a>
</header>