<main>
	<!-- This is where all Html for the view goes. -->
	<div>
		<div> 
		<p class="date">{{getDate()}}</p>
		
		<!--<form class="loginbt" action="/auth/openid" method="post">
			<input class="steamimg" name="submit" type="image" src="http://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_large_border.png">
		</form>-->
			<div class="center">
				<div>
						<p class="login-title"></p>
		 				<img class="center-image" src="../resources/logo.png">
		 		</div>
				<div class="line-separator"></div>
				<div class="center">
					<div class="center">
						<h1 class="login-info">Sign in with your Spotify account to put your playlists up for vote!</h1>
						<a href="/login" ng-click="clearCookies()">
							<img class="login-button" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQBBHMjnHIT9LY_K7VNJ39ZnvRoLkzALgTLW4GO5246KrT1aY8e">
						</a>
					</div>
				</div>
				<div class="line-separator"></div>
				<div class="bread">
					<span>Hey there, we are glad you found us! Go ahead and start sharing your playlists with family and friends, so they can express their appreciation of your taste in music. You could also get your customers or guests to express their feelings about your playlist, just by sharing your link!<br><br>We do not work for Spotify, this site is brought thanks to the Spotify web API.
					</span>
				</div>
			</div>
		</div>
	</div>
</main>