<ng-include src="'views/header.html'" class="header-wrapper"></ng-include>

<main>
	<!-- This is where all Html for the view goes. -->
	<div class="container-fluid">
    <div class="row">
		<div class="col-md-4">
      		<h1 class="profile-title">{{userData.display_name}}</h1>
        <div class="pull-left">
          <img class="media-object" src="{{userData.images[0].url}}" />
        </div>
        <div>
            <dt>Username</dt><dd>{{userData.id}}</dd>
            <dt>Email</dt><dd>{{userData.email}}</dd>
            <dt>Subscription</dt><dd>{{userData.product}}</dd>
            <dt>Spotify link</dt><dd><a href="{{userData.external_urls.spotify}}">Your profile</a></dd>  
            <dt>top artist</dt><dd>{{topartists}}</dd>      
        </div>
      </div>
      
      <div class="col-md-8">
      	<h1 class="profile-title">Your playlists</h1>
      	<div class="grid">
      		<ul>

      		<li class="inner-grid" ng-repeat="playlist in playlists">
	      		<img class="top-images" src="{{playlist.images[0].url}}" />
            <button ng-click="genLink(playlist)">create link</button>
              <button ng-click="getLink(playlist)">get link</button>

              <dt><img class="share-button" src="../images/share.png"></dt>
              
	            <dt>{{playlist.name}}</dt><dd><a href="{{playlist.external_urls.spotify}}">Listen on Spotify</a></dd>
              <dd ><a href="{{playlist.link}}" ng-init="getLink(playlist)">{{playlist.link}}</a></dd>
            </li>   
        </div>
      </div>
    </div>
	</div>

</main>

<ng-include src="'views/footer.html'" class="footer-wrapper"></ng-include>