<ng-include src="'views/header.html'" class="header-wrapper"></ng-include>

<main><!-- This is where all Html for the view goes. -->
    <div ng-if="showModal" ng-include="'../views/modal.html'"></div>

    <div class="container-fluid">
        <div class="row profile-content">
        		<div class="col-lg-offset-1 col-md-offset-0 col-md-3 col-sm-offset-1 col-sm-11 col-xs-12">
                <h1 class="col-xs-12">{{profileData.userData.display_name || profileData.userData.id}}</h1>
                <a href="{{profileData.userData.external_urls.spotify}}" target="_blank">
                    <img ng-hide="imgLoading" class="col-xs-5 col-sm-offset-0 col-sm-5 col-md-9" ng-src="{{profileData.userData.images[0].url || voteifyAvatar}}" alt="No image found">
                </a>

                <div class="col-xs-12 col-sm-5 col-md-12 info-block" ng-repeat="top in profileData.topData">
                    <div class="info-title">
                        <button type="button" class="btn-success top-art-btn" ng-click="isCollapsed = !isCollapsed">
                            <p ng-show="isCollapsed"> + </p>
                            <p ng-show="!isCollapsed"> - </p>
                        </button>
                        {{top.title}}
                    </div>

                    <div ng-repeat="titles in top.items" >
                        <p ng-if="!isCollapsed || $index == 0" class="info-text" >
                            {{titles.name}} <span ng-if="titles.artists[0].name"> - </span> {{titles.artists[0].name}}
                        </p>
                    </div> <!-- end of ng-repeat-loop -->
                </div>
            </div>
          
            <div class="col-xs-12 col-md-9 col-lg-8">
                <div class="col-xs-12">
                    <h1 class="col-sm-8">
                        Your Playlists
                    </h1>
                    <input class="playlist-search col-xs-4" ng-model="search.name" placeholder="Search..." autofocus>
                </div>

            	<div class="grid col-sm-12 col-xs-12">
            		<ul class="col-xs-12 profile-playlists">
                  		<li class="inner-grid col-sm-3 col-xs-12" ng-repeat="pl in profileData.playlists.items | filter:search">
                	      	
                            <a href="{{pl.external_urls.spotify}}">
                              <img class="top-images" ng-src="{{pl.images[0].url}}"/>
                            </a>
                            
                            <p class="playlist-title">
                                {{pl.name.substring(0,15)}}{{pl.name.length > 15 ? '...' : ''}}
                            </p>

                            <div class="link-space" ng-init="isShared(pl)">
                                <a href="{{pl.link}}" target="_blank" class="link-text" ng-show="pl.shared">
                                    {{pl.link}}
                                </a>
                                
                                <p ng-show="!pl.shared && !loading">Not shared</p>
                                
                                <img class="loading-bar" ng-show="loading" src="/resources/loading-bar.gif" ></img>
                            </div>

                            <button type="button" class="btn btn-success" ng-class="pl.btnStyle" ng-click="shareToggle(pl)" ng-disabled="loading">
                                <p ng-show="!pl.shared">Put up for vote</p>
                                <p ng-show="pl.shared">Close vote</p>
                            </button>
                        </li>
                    </ul>   
                </div>
            </div> <!-- end of "Your Playlist" section -->
        </div>
    </div>
</main>

<ng-include src="'views/footer.html'" class="footer-wrapper"></ng-include>