<ng-include src="'views/header.html'" class="header-wrapper"></ng-include>
<main>

<div class="container">
  <h2 class="rl-h2">Your rated playlists</h2>
  <p class="rl-p">Here you can see your rated playlists, enjoy!</p>            
  <table class="table rl-table">
      <tr>
      	<th class="rl-th">Rank</th>
        <th>Name</th>
        <th>Ratio</th>
      </tr>

    <tbody class="rl-head">
      <tr class="rl-table-line">
        <td class="rl-rank">1</td>
        <td class="rl-name">Sommarlåtar</td>
        <td class="rl-ratio">5.0</td>
      </tr>
      <tr class="rl-table-line">
        <td>2</td>
        <td>Partyhits!</td>
        <td>4.8</td>
      </tr>
      <tr class="rl-table-line">
        <td>3</td>
        <td>Rock N Roll</td>
        <td>4.6</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>

</main>