<ng-include src="'views/header.html'" class="header-wrapper"></ng-include>

<main>
	<!-- This is where all Html for the view goes. -->
	<div class="search-window"> 
		<h2>Here you can search for items in CS GO</h2>
		<div class="row">
			<div class="col-md-3">
				<label>Choice of weapon</label>
				<select class="form-control" placeholder=".input-sm">
					<option>Select an option</option>
					<option>Knife</option>
					<option>Something</option>
					<option>4</option>
					<option>5</option>
				</select>
			</div>
			<div class="col-md-3">
				<label>Choice of condition</label>	
				<select class="form-control">
					<option>Select an option</option>
					<option>Suberp</option>
					<option>Average</option>
					<option>OK</option>
				</select>
			</div>
			<div class="col-md-3">
				<label>Choice of colour</label>	
				<select class="form-control">
					<option>Select an option</option>
					<option>Purple</option>
					<option>Pink</option>
					<option>Green</option>
				</select>
			</div>
			<div class="col-md-2">
				<button class="button" style="vertical-align:middle"><span>GO! </span></button>
			</div>
		</div>
		
	</div>

</main>

<ng-include src="'views/footer.html'" class="footer-wrapper"></ng-include>