<div ng-include="'views/voteHeader.html'"></div>

<!--Voting page-->
<main>
	<div class="container center" ng-init="getPlaylistData()">
		<div class="vote-pl-info col-md-3 col-xs-12" ng-hide="loading || badLink">
			<h3>Playlist info</h3>
			<a ng-href="{{spotLink}}"><img class="vote-pl-image" ng-src="{{image}}"></a>
			<p class="vote-pl-title">{{title}}</p>
			<h4>Number of tracks:</h4> <p>{{totalTracks}}</p>
			<h4>Playlist owner:</h4> <p>{{owner}}</p>
		</div>	
		<div class="col-md-9 col-xs-12">
			<h2 class="vote-pl-title" ng-show="loading">The playlist is now loading</h2>
			<img ng-show="loading" src="/resources/loading-bar.gif">
			<div ng-hide="loading || badLink">
				<p class="vote-pl-title">
					{{title}}
				</p>	
				<div class="col-xs-12 vote-top">
					<p class="rate-title">Place your vote here!</p>
					<div class="col-xs-5 stars-width" ng-mouseleave="hollowStars()">
						<div class="stars" ng-repeat="star in stars">
							<img ng-show="star.hide" ng-mouseover="fillStar(star)" 
							src="resources/spoti_star_hollow.png"/>
							<img ng-show="!star.hide" ng-mouseover="hollowStar(star)" 
							ng-click="setLock(star)" 
							src="resources/spoti_star_filled.png"/>
						</div>
						<button type="button" class="btn btn-success vote-btn" ng-disabled="disabled" ng-click="setVote(star)">
	  						<p ng-show="!voted">Vote</p>
	  						<p ng-show="voted">Change</p>                 					 
						</button>
					</div>
					<div class ="col-xs-2 vote-pl-info">
						<p class="rate-title">Votes: {{playlist.votes}}</p>
						<p class="rate-title">Rating: {{playlist.rating}}</p>
					</div>
				</div>
			</div>	
			<div class="pl-songs scrollbar" ng-hide="badLink">
				<div>
					<!-- ng-repeat låtar-->
					<div class="track-bar col-xs-12" ng-repeat="track in playlistSongs">
						<div class="track-position col-xs-12 col-md-6">
							<p class="info-text">
								{{track.track.artists[0].name}} - {{track.track.name}}
							</p>
						</div>
						<div class="track-position col-xs-12 col-md-6" ng-hide="preview">
							<audio ng-src="{{trustSrc(track.track.preview_url)}}" controls="1"></audio>
						</div>
						<div class="track-position not-preview col-xs-12 col-md-6" ng-show="preview">
							Preview not available - listen on spotify <a href="{{track.track.external_urls.spotify}}">here!</a>
						</div>
					</div>						
				</div>
			</div>	
		</div>
	</div>

	<!--Bad link page-->
	<div ng-show="badLink">
		<h1 class="text-center col-xs-8 col-xs-offset-2">The link you followed did not result in any playlist, maybe the user dosen't share it anymore, share one yourself insted at <a href="#/">Voteify</a>!</h1>
	</div>

</main>

<ng-include src="'views/footer.html'" class="footer-wrapper"></ng-include>

