<header>
	<a>
    <img src="resources/voteify.png">
	</a>
</header>
<main>
	<!-- This is where all Html for the view goes. -->
	<div class="container">
		<div class="center">
			<p class="login-title">You are the chosen one, but for what?</p>
 		</div>
		<div class="line-separator"></div>
		<div class="center">
			<div class="center">
				<p class="bread">
				Hey you, looks like you've been asked to vote for someones playlist on spotify, how nice of you! Let us guide you through it! Below are all the songs from the playlist, and you can most often listen to a 30 second preview of each song to remind you of that amazing Ed Sheeran voice for example. Fill the stars from 1-5 to place your vote on this specific playlist and let your friend know what you thought of it! If you want to put your own playlist up for vote to prove that you have a much better taste in music, go ahead and visit<a href="#/"> Votefiy!</a> Thanks for using our service and we hope you enjoy your stay! 
				</p>
			</div>
		</div>
		
		<div class="line-separator"></div>
	</div>
</main>

<ng-include src="'views/footer.html'" class="footer-wrapper"></ng-include>