<header>
	<a>
    <img src="resources/voteify.png">
	</a>
</header>
<main>
	<!-- This is where all Html for the view goes. -->
	<div class="container">
		<div class="center">
				<p class="login-title">What is this and who are we?</p>
 		</div>
		<div class="line-separator"></div>
		<div class="center">
			<div class="center">
				<p class="bread">We believe in a world where you can gather opinions about your taste in music among friends and family. Imagine hosting a dinner party where you have planned every possible detail foodwise in some fancy app, do you really think that's enough? 
				<br><br>
				Neither do we. That is why you can publish your favorite playlists and share the links with your guests, so they can rate them. This gives you the elegant advantage of knowing the musical preference of your guests, customers and other followers. Go ahead, try it now!
				</p>
			

				<p class="bread">
				Hey you, looks like you've been asked to vote for someones playlist on spotify, how nice of you! Let me guide you through it! Below is the different songs that are on the playlist, you can most often listen to a 30 seconds preview of each song to remind you of that amazing Ed Sheeran voice for example. Fill the stars from 0-5 to place your vote on this specific playlist and let your friend know what you thought of it! If you want to put your own playlist up for vote because you have a much better taste in music(probably) then either click on "Checkout Votefiy" above or under the user information. Thanks for using our service and i hope you enjoy your stay 
				</p>

			</div>
			</div>
		
		<div class="line-separator"></div>
			<div class="center">
				<p class="bread-center">
					If you have any questions, don't hesitate to contact us at 
					<a href="#/sorry/{{access_token}}" ng-style="active('sorry')">info@voteify.com</a>
				</p>
			</div>
	</div>

</main>

<ng-include src="'views/footer.html'" class="footer-wrapper"></ng-include>