
<!-- alla views ska vara wrappade i en <main> tag!
tänk på indentering i alla divs
			<div>
				<p> asjhdjahsd </p>
			</div>
 -->
<div ng-include="'views/voteHeader.html'"></div>

<div ng-init="getPlaylistData()" class="container-fluid">
	<div class="welcome_vote">
		Welcome to Voteify
	</div>
	<div class="row">
		<div class="col-xs-6 col-xs-offset-2">
				<div class="playlist col-xs-12">
					<div  class="col-xs-4">
					<p class="rate_title">{{title}}</p>
					</div>

					<div class="col-xs-4" ng-mouseleave="hollowStars()">
						<div class="stars" ng-repeat="star in stars">
							<img ng-show="star.hide" 
							ng-mouseover="fillStar(star)" 
							src="resources/spoti_star_hollow.png"/>
							
							<img ng-show="!star.hide" 
							ng-mouseover="hollowStar(star)" 
							ng-click="setLock(playlist, star)" 
							src="resources/spoti_star_filled.png"/>
						</div>
					</div>

					<div class="col-xs-4">
					<p class="rate_current">Votes {{votes}}</p>
					<p class="rate_current">Current rating {{rating}}</p>
					</div>
					
					<div class="tracklist">

					<div><!-- ng-repeat låtar-->
						<div ng-repeat="track in playlistSongs">
							<div class="track col-xs-8">

							<div ng-repeat="name in track.track.artists">{{name.name}}</div> - {{track.track.name}}
							</div>

							<audio src="{{trustSrc(track.track.preview_url)}}" controls="1"></audio>
						</div>
					</div>

					</div>
				</div>
		</div>


		<div class="suggest col-md-4" >
			<div class="col-lg-6">
				<p class="suggest_title">Owner: {{owner}}</p>
				<a href="{{spotLink}}"><p class="suggest_title">Spotify link</p></a>
			</div>
		
		</div>
	</div>
</div>


<ng-include src="'views/footer.html'" class="footer-wrapper"></ng-include>

