/*
Comments:
	• Try to organize the attributes in alphabetical order to keep the structure neat.
	• Try to organize the classes in a logical chronoligical order.
	• Try to be as general as possible and explain where and what the class is used for.
*/
/*SMALL SCREENS*/
@media (max-width: 880px){
  .header-text{
    display: none;
  }
  .playlist-image {
    max-width:30%;
  }
  .checkoutButton{
    max-width: 28%;
    margin-bottom: 1%;
  }
  .pl-songs, .rl-playlists{
    height: 100% !important;
  }
  .rl-p-size{
    font-size: 3vw;
  }
  .ratedPic-small{
    width: 10vw !important;
  }
}
@media (max-width: 650px){
  .rating-stars {
    display: none;
  }

  .cover-img {
    display: none;
  }
}
.wrapper {
  float: left;
  height: 99vh;
  position: relative;
  width: 100%;
}

/* HomeView -------------------starterpage--------------------*/

.startpage{
  padding: 0;
}
.hero-img{
  padding: 0;
  margin:0;
  border-bottom: 2px solid #169145;
}
.hero-img-header{
    width: 100%;
    min-height: 350px;
    max-height: 50vh;
}
.logo{
    width: 25%;
    min-width: 200px;
    display: block;
    left: 50%;
    z-index: 2;
    transform: translate(-50%,-50%);
    top: 50%;
    position: absolute;
}
.login-info{
  margin-top: 2%;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
.login-info h1{
  font-size: 2em;
}
.sign-in-btn{
  margin: 4%;
  color: #169145;
  background: none;
  border: 2px solid #169145;
  border-radius: 30px;
  padding: 5px 20px;
}
.sign-in-btn:hover{
  color: #169145;
  background-color: rgba(170, 170, 170, 0.2);
}
.home-bread {
  text-align: justify;
  color: black;
  font-size: 17px;
  margin-bottom: 2%;
}
.cookie-consent {
  border: 2px solid #169145;
  border-radius: 30px;
  text-align: justify;
  display: flex;
}
.consent-btn {
  margin-bottom: 1vh !important;
  max-width: 10em;
}

.consent-text {
  color: #000;
  font-family:Armata;
  font-size:12px;
}
.link-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9em;
  color: #169145;
}

/*Headerview ------------------- HeaderView-----------------*/
.header-wrapper {
  width: 100%;
}
header {
  height: 100px;
  float: left;
  width: 100%;
  margin-top: 1%;
}
header img {
  width: 100px;
  margin-left: 1%;
}
header p{
  font-size: 25px;
  display: inline-block;
  margin-left: 2%;
}
header a {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-weight: 700;
  width: 100%;
  text-decoration: none;
  color: #169145;
  margin-right: 3%;
}
header a:hover{
  text-decoration: none;
  color: #169145;
}
header a:visited, a:focus{
  text-decoration: none;
  color: #169145;
}
h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
a{
  color: #169145;
}

/* ------------ProfileView------------------------*/

main{
  float: left;
  width: 100%;
}
.profileView {
  display: flex;
  align-items: center;
}
.profile-playlists{
  margin-top: 40px;
}
.profile-title{
  font-size: 3.5em;
}
.profile-content{
  margin: 50px -15px 0px -15px;
}
.info-block {
  margin-bottom: 20px;
}
.info-block dd{
  margin: 5px 0px;
}
.info-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  color: #666;
  margin: 0px
}
.info-block a{
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.6em;
  letter-spacing: 0.2px;
  color: #169145;
  margin-bottom: 2px;
}
.playlist-title {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  font-size: 1.6em;
  line-height: 1;
  text-align: center;
  color: #888;
  padding: 5px 0px;
}
.share-btn{
  font-size: 0.9em;
}
.share-btn p{
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.05em;
}
.link-space{
  height: 30px;
  text-align: center;
}
.grid {
  margin-left: -1%;
}
.inner-grid {
  list-style-type: none;
  display: inline-block;
  margin: 0px 4%;
  min-height: 380px;
  overflow: hidden;
}
.media-object {
  width: 60%;
}
.top-images {
  width: 100%;
}
#put-up-vote {
  width: 10vw;
  height: 3vh;
}
.btn p{
  margin:0;
}
.btn{
    min-width: 130px;
    width: 100%;
    padding: 4px;
    margin-left: auto;
    margin-right: auto;
}
.btn[disabled], .btn[disabled]:hover {
  background-color: grey;
  border: none;
  cursor: auto;
}
.top-art-btn{
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-top: 10px;
  font-size: 20px;
}
.top-art-btn:visited, .top-art-btn:focus{
  text-decoration: none;
  outline:none;
  border:none;
}
.playlist-search{
  margin-top: 30px;
  border-radius: 20px;
  height: 40px;
  border: none;
  color: #169145;
  background-color: #f9f9f9;
}
.playlist-search[placeholder]{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    opacity: 0.8;
    margin-left: 3%;
    float: left;
    width: 21%;
    min-width: 160px;
}
.playlist-search:focus{
  outline: none;
}

/*--------------------Footer---------------------------*/
.footer-wrapper {
  float: left;
  width: 100%;
}
footer {
  color: rgba(0,0,0,0.4);
  font-size: 1.2em;
  padding: 0.6em;
  text-align: right;
  width: 100%;
}
footer p {
  font-family: fnt-theme-italic;
  letter-spacing: 1px;
  margin-right: 3%;
}
.float-wrapper {
  float: left;
  margin: 1em 0;
  width: 100%;
}

/* ----------------------------------------ABOUT view*---------------------------------------*/

.line-about{
  height: 1px;
  width: 100%;
  border-bottom: 2px solid #169145;
}
.pic-about{
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.center {
float: none;
margin-left: auto;
margin-right: auto;
}
.login-title{
margin-top:3%;
font-size:40px; 
color:#000000;
font-family: 'Montserrat', sans-serif;
letter-spacing: 2px;
text-align: center;
}
.bread {
  text-align: justify;
  color: #aaa;
  font-size: 17px;
  margin-bottom: 2%;
}
.bread-center {
  text-align: center;
  color: #000;
  font-family:Armata;
  border-radius: 15px 50px 30px 5px;
  width: 50%;
  padding: 1.8%;
  font-size:17px;
  margin-left: auto;
  margin-right: auto;
}

/*--------------------------------- Ratedlists (RL) -------------------- */

.rated-list{
  height: 60vh;
  width: 100%;
  overflow-y: auto;
}
.rl-h2{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 50px;
}
.rl-p{
  text-align: center;
}
.rl-rank , .rl-ratio{
  width: 10%;
}
.rl-name{
  width: 80%;
}
.rl-border{
  border-bottom: solid 2px green;
}
.rl-table{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 28px;
  color: #169145;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 2%;
}

.rl-pl-p{
  color: #777;
}
.rl-pl-title{
  font-size: 80%;
  color:grey;
  margin-top: 3%;

}

.rl-playlists{
  height: 50vh;
  width: 100%;
  overflow-y: auto; 
}

.rl-row{
  width: 100%;
  overflow-x:hidden;
}
.ratedPic {
  margin-top: 15%;
  margin-bottom: 15%;
  width: 120px;
}
.ratedPic {
  margin-top: 15%;
  margin-bottom: 15%;
  width: 120px;
}
.sorry-img {
  background-image: url(http://cdn2.hubspot.net/hubfs/53/spotify-404-page.png);
  width: 100vw;
  height: 100vh;
}
#sorry img {
  display: none;
}

/*--------------------VoteingView--------------------*/

.welcome-vote{
margin-top:2%;
font-size:40px; 
color:#000000;
font-family:'Montserrat', sans-serif;
font-weight: 700;
letter-spacing: 2px;
}
.vote-bar {
display: flex;
align-items: center;
}
.vote-btn{
  min-width:80px;
  width: 30%;
  display: inline;
  margin-top: -29%;
  font-size: 100%;
  margin-left: 90%;
}
.vote-btn[disabled], .vote-btn[disabled]:hover{
  background-color: #169145;
  opacity: 0.5; 
}
.track-bar {
list-style: none;
padding: 0;
margin: 0;
font-family: 'Montserrat';
color: #169145;
}
.center-bar {
list-style: none;
padding: 0;
margin: 0;
display: flex;
justify-content: space-between;
font-family: 'Montserrat';
color: #169145;
}
.track-position{
  padding:2%;
}
.not-preview{
  color: #434343;  
  font-size: 90%;
}
.playlist-info {
  float: right;
}
.playlist-image {
  width: 60%;
  border-radius: 3%;
}
.line{
height:1px;
margin-bottom:2%;
border-bottom:1px solid #000;
}
.rate_title{
font-size:22px;
color: #169145;
}
.rate_star{
font-size:22px;
}
.rate_current{
font-size:22px;
}
.rate_star > span:hover:before {
   content: "\2605"; 
   position: absolute;
}

.rate_star {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rate_star > span:hover:before,
.rate_star > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}
.track{
margin-top:2%;
font-size:16px;
margin-bottom:1%;
}
.rl-table-line{
  border-top: solid 2px #1ED760;
  border-bottom: solid 2px #1ED760;
}
.rl-table-line:hover{
  background-color: black;
  color: #169145;
}
.suggest_title{
font-size:18px;
}
.stars{
display: inline;
margin-top:2%;
height:50px;
}
.stars svg{
height:20px;
width:20px;
}
.stars svg polygon{
fill:transparent;
stroke-width:"6";
}
.vote-top{
border-bottom:2px ridge #1ED760;
}
.pl-songs{
  width: 100%;
  height: 55vh;
  overflow-y: auto; 
  overflow-x: hidden; 
}
.scrollbar::-webkit-scrollbar-track
{
  border-radius: 10px;
  border: none;
  background-color: #D2D1D6;
}
.scrollbar::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}
.scrollbar::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #169145;
}
.bad-link {
  text-align: center;
}

/* ----------Loader-------------------Loader----------------*/

#loader{
  width:128px;
  height:128px;
  margin-left:45%;
  margin-top:15%;
}
.loader{
  display: inline;
}
#loader-small{
  width:30px;
  height:30px;
}
.loading-bar{
  margin: 0 auto;
  display: block;
}
.welcome-tag{
  margin-bottom:1%;
}
.checkoutButton{
  width:80%;
  height:70%;
  font-size:18px;
}
.checkoutButton a{
  color:black;
}
.checkoutButton a:hover{
  color:black;
  text-decoration: none;
}
/*-----------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------Modal-----------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------*/
.modal-popup{
    padding-top: 100px;
    margin-top: -100px;
    position: fixed;
    z-index: 1;
    height: 100vh;
}
.modal-content{
  max-height: 80vh;
  overflow: auto;
}
.modal-img{
  width: 14%;
  position: absolute;
}
.modal-btn{
  width: 130px;
  padding: 4px;
  margin-left: auto;
  margin-right: auto;
  float: left;
}
.modal-close{
  float: right;
}
.modal-body{
  padding: 15px 50px;
}
.modal-body-text{
  letter-spacing: 0.3px;
  text-align: justify;
  color: #000;
  font-size: 17px;
  margin-bottom: 2%;
}
.modal-heading{
  margin-top: 20px;
  text-align: center;
}

/*GeneralCode------ All View--------------------------*/

.search-window {
  padding-left: 5vw;
  padding-right: 5vw;
}
.backgroundimg {
  background: url("http://i.imgur.com/JZCrHDF.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  margin-top: -20%;
}
.bild {
  border-radius: 15px 50px 30px 5px;
}
.login{
  margin: 0;
}
.login-button {
display: block;
margin-left: auto;
margin-right: auto;
}
.line-separator{
  height: 1px;
  width: 110%;
  border-bottom: 2px solid #169145;
  margin-left: -15px;
}
/*
	Put all specific design above this comment

*/
