/*
Comments:
	• Try to organize the attributes in alphabetical order to keep the structure neat.
	• Try to organize the classes in a logical chronoligical order.
	• Try to be as general as possible and explain where and what the class is used for.
*/
/*
FONT
*/
@font-face { font-family: AdamCG; src: url('Adam-CG.otf'); } 
@font-face { font-family: Proffs; src: url('Proffesional Edition.TTF');
src: url('Proffesional Edition.TTF') format('embedded-opentype');
}

/*
COLORS
*/

/*
	Put all general design below this comment
*/
.wrapper {
  float: left;
  height: 99vh;
  position: relative;
  width: 100%;
}
.header-wrapper {
/*
		Put this on all the header include tags
		to keep header at top
	*/
  width: 100%;
}
header {
  float: left;
  width: 100%;
  margin-top: 1%;
}

header img {
  width: 100px;
  margin-left: 1%;
}

header p{
  font-size: 25px;
  display: inline;
  margin-left: -2%;
}

header a {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-weight: 700;
  width: 100%;
  text-decoration: none;
  color: #169145;
  margin-right: 3%;
}

header a:hover{

  text-decoration: none;
  color: #169145;

}

h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

a{
  color: #169145;
}

main{
/*
		This is where all the content shoud go
	*/
  float: left;
  width: 100%;
}
.footer-wrapper {
/*
		Put this on all the header include tags
		to keep footer at bottom
	*/
  float: left;
  width: 100%;
}
footer {
  color: rgba(0,0,0,0.4);
  font-size: 1.2em;
  padding: 0.6em;
  text-align: right;
  width: 100%;
}
footer p {
  font-family: fnt-theme-italic;
  letter-spacing: 1px;
  margin-right: 3%;
}
.float-wrapper {
  float: left;
  margin: 1em 0;
  width: 100%;
}
/*
BUTTONS
*/
.sign-in-btn{
  margin: 5%;
  color: #169145;
  background: none;
  border: 2px solid #169145;
  border-radius: 30px;
  padding: 5px 20px;
}

.sign-in-btn:hover{
  color: #169145;
  background-color: rgba(170, 170, 170, 0.2);
}
/*-------------------------------------------------startpage start------------------------------------*/

.startpage{
  padding: 0;
}

.hero-img{
  padding: 0;
  margin:0;
}

.hero-img-header{
    width: 100%;
    max-height: 50vh;
}

.logo{
    width: 25%;
    min-width: 200px;
    display: block;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%);
    margin-top: 2%;
    position: absolute;
}


/*-------------------------------------------------profileView button start------------------------------------*/
#put-up-vote {
  width: 10vw;
  height: 3vh;
}

.btn p{
  margin:0;
}

.btn{
  width: 160px;
  padding: 3px 30px;
  margin-left: 17%;
  margin-right: 17%;
}

/*-------------------------------------------------profileView button slut------------------------------------*/
/*
LOADER
*/
/*
	Put all general design above this comment
*/
/*
	Put all specific design below this comment
*/


.search-window {
  padding-left: 5vw;
  padding-right: 5vw;
}

.backgroundimg {
  background: url("http://i.imgur.com/JZCrHDF.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  margin-top: -20%;
}
.bread {
  text-align: justify;
    color: #aaa;
    font-size: 17px;
}

.bread-center {
  text-align: center;
  color: #000;
  font-family:Armata;
  border-radius: 15px 50px 30px 5px;
  width: 50%;
  padding: 1.8%;
  font-size:17px;
  margin-left: auto;
  margin-right: auto;
}

.bild {
  border-radius: 15px 50px 30px 5px;
}

.date { 
    margin: 20px;
    margin-bottom: 0px;
    color: white;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 20px;

}

.login{
  margin: 0;
}

.login-title{
margin-top:3%;
font-size:40px; 
color:#000000;
font-family: 'Montserrat', sans-serif;
letter-spacing: 2px;
text-align: center;
}

.login-info{
      font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.login-info h1{
  font-size: 2em;
}
u{
text-decoration:none;
box-shadow: inset 0 0px 0 white, inset 0 -1px 0 black;
}



.center {
float: none;
margin-left: auto;
margin-right: auto;
}


.login-button {
display: block;
margin-left: auto;
margin-right: auto;
}

.line-separator{
  height: 1px;
  width: 110%;
  border-bottom: 2px solid #169145;
  margin-left: -15px;
}

/*-------------------------------------------------profileView start------------------------------------*/
.profileView {
  display: flex;
  align-items: center;
}
.profile-playlists{
  margin-top: 3%;
}
.profile-title{
  font-size: 3.5em;
}

.profile-content{
  margin: 50px -15px 0px -15px;
}

.info-block {
  margin:0;
}
.info-block dd{
  margin: 5px 0px;
}

.info-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  color: #666;
  margin: 30px 0px 5px 0px;
}

.info-block a{
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.6em;
  letter-spacing: 0.2px;
  color: #169145;
}

.playlist-title {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  font-size: 1.6em;
  line-height: 1;
  text-align: center;
  color: #888;
  padding: 5px
}

.share-btn{
  font-size: 0.9em;
}


.share-btn p{
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.05em;
}

.link-space{
  height: 30px;
  text-align: center;

}


.link-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9em;
  color: #169145;
}

.grid {
  margin-left: -1%;
}

.inner-grid {
  list-style-type: none;
  display: inline-block;
  margin-right: 4%;
  height: 380px;
  overflow: hidden;
}


.media-object {
  width: 60%;
}

.top-images {
  width: 100%;
}

/*-------------------------------------------------profileView slut------------------------------------*/

/* HEADER */


/*---------*/
/* Ratedlists (RL) */

.rated-list{
  height: 60vh;
  width: 100%;
  overflow-y: auto;
}

.rl-h2{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 50px;
}

.rl-p{
  text-align: center;
}

.rl-rank , .rl-ratio{
  width: 10%;
}
.rl-name{
  width: 80%;
}

.rl-table{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #169145;
  text-align: center;
  margin-top: 4%
}

.rl-table a{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 700;
  width: 100%;
  text-decoration: none;
  color: #169145;
}

.rl-table a:hover{
  text-decoration: none;
  color: #169145;
  cursor: pointer;
}

.rl-table th{
  text-align: center;
}

.rl-table td{
  text-align: center;
  color: #777;
}

.rl-table td p{
  margin: -50px 0px -7px 0px;
  font-size: 30px;
  color: #777;
}

.rl-row{
  width: 100%;
  overflow-x:hidden; 
}

.welcome-vote{
margin-top:2%;
font-size:40px; 
color:#000000;
font-family:'Montserrat', sans-serif;
font-weight: 700;
letter-spacing: 2px;
}

.vote-bar {
display: flex;
align-items: center;
}

.track-bar {
list-style: none;
padding: 0;
margin: 0;
font-family: 'Montserrat';
color: #169145;
}

.center-bar {
list-style: none;
padding: 0;
margin: 0;
display: flex;
justify-content: space-between;
font-family: 'Montserrat';
color: #169145;
}

.track-position{
  padding:2%;
}

.not-preview{
  color: #434343;  
  font-size: 90%;
}

.playlist-info {
  float: right;
}

.playlist-image {
  width: 60%;
  border-radius: 3%;
}

.line{
height:1px;
margin-bottom:2%;
border-bottom:1px solid #000;
}
.rate_title{
font-size:22px;
color: #169145;
}
.rate_star{
font-size:22px;
}
.rate_current{
font-size:22px;
}
.rate_star > span:hover:before {
   content: "\2605"; 
   position: absolute;
}

.rate_star {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rate_star > span:hover:before,
.rate_star > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}


.track{
margin-top:2%;
font-size:16px;
margin-bottom:1%;
}

.rl-table-line{
  border-top: solid 2px #1ED760;
  border-bottom: solid 2px #1ED760;
}

.rl-table-line:hover{
  background-color: black;
  color: #169145;
}

.suggest_title{
font-size:18px;
}

.stars{
display: inline;
margin-top:2%;
height:50px;
}

.stars svg{
height:20px;
width:20px;

}
.stars svg polygon{
fill:transparent;
stroke-width:"6";
}
/*---------*/
/*playlistsongs*/
.vote-top{
border-bottom:2px ridge #1ED760;
}

.pl-songs{
  width: 100%;
  height: 55vh;
  overflow-y: auto; 
  overflow-x: hidden; 
}

.scrollbar::-webkit-scrollbar-track
{
  border-radius: 10px;
  border: none;
  background-color: #D2D1D6;
}

.scrollbar::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #169145;
}

.bad-link {
  text-align: center;
}

.playlist-search{
  margin-top: 30px;
  border-radius: 20px;
  height: 40px;
  border: none;
  color: #169145;
  background-color: #f9f9f9;

}

.playlist-search[placeholder]{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    opacity: 0.8;
    float: left;
    margin-left: 8%;
    width: 21%;
}

.playlist-search:focus{
  outline: none;
}
/*
/*ratedlist*/
.ratedPic {
  margin-top: 15%;
  margin-bottom: 15%;
  height: 120px;
  width: 120px;
}

.sorry-img {
  background-image: url(http://cdn2.hubspot.net/hubfs/53/spotify-404-page.png);
  width: 100vw;
  height: 100vh;
}

#sorry img {
  display: none;
}

#loader{
  width:128px;
  height:128px;
  margin-left:45%;
  margin-top:15%;
}

.loader{
  display: inline;
}

#loader-small{
  width:30px;
  height:30px;
}

.loading-bar{
  margin: 0 auto;
  display: block;
}
/*Top artsist, top tracks*/
.ta-btn{
  background: #169145;
  color: white;
  display: inline;
}
/*
	Put all specific design above this comment
*/
