/*
Comments:
	• Try to organize the attributes in alphabetical order to keep the structure neat.
	• Try to organize the classes in a logical chronoligical order.
	• Try to be as general as possible and explain where and what the class is used for.
*/
/*
FONT
*/
@font-face { font-family: AdamCG; src: url('Adam-CG.otf'); } 
@font-face { font-family: Proffs; src: url('Proffesional Edition.TTF');
src: url('Proffesional Edition.TTF') format('embedded-opentype');
}

/*
COLORS
*/

/*
	Put all general design below this comment
*/
.wrapper {
  float: left;
  height: 99vh;
  position: relative;
  width: 100%;
}
.header-wrapper {
/*
		Put this on all the header include tags
		to keep header at top
	*/
  width: 100%;
}
header {
  float: left;
  width: 100%;
  min-width: 550px;
  margin-top: 1%;
}

header img {
  width: 100px;
  margin-left: 1%;
}

header a {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-weight: 700;
  width: 100%;
  text-decoration: none;
  color: #169145;
  margin-right: 3%;
}

header a:hover{

  text-decoration: none;
  color: green;

}

main {
/*
		This is where all the content shoud go
	*/
  float: left;
  width: 100%;
}
.footer-wrapper {
/*
		Put this on all the header include tags
		to keep footer at bottom
	*/
  float: left;
  width: 100%;
}
footer {
  color: rgba(0,0,0,0.4);
  font-size: 1.2em;
  padding: 0.6em;
  text-align: right;
  width: 100%;
}
footer p {
  font-family: fnt-theme-italic;
  letter-spacing: 1px;
  margin-right: 3%;
}
.float-wrapper {
  float: left;
  margin: 1em 0;
  width: 100%;
}
/*
BUTTONS
*/
/*-------------------------------------------------profileView button start------------------------------------*/
#put-up-vote {
  width: 10vw;
  height: 3vh;
}
/*-------------------------------------------------profileView button slut------------------------------------*/
/*
LOADER
*/
/*
	Put all general design above this comment
*/
/*
	Put all specific design below this comment
*/


.profile-title {
  color: rgba(0,0,0,0.7);
  font-family: fnt-theme;
  letter-spacing: 2px;
}

.search-window {
  padding-left: 5vw;
  padding-right: 5vw;
}

.backgroundimg {
  background: url("http://i.imgur.com/JZCrHDF.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  margin-top: -20%;
}
.bread {
  color: #000;
  font-family:Armata;
  border-radius: 15px 50px 30px 5px;
  width: 70%;
  padding: 1.8%;
  font-size:17px;
  margin-left: auto;
  margin-right: auto;
}
.bild {
  border-radius: 15px 50px 30px 5px;
}

.date { 
background: #1ED760; 
color: black;
display: inline-block; 
font-family: 'Lato', sans-serif; 
font-size: 16px; 
font-weight: bold; 
line-height: 14px; 
letter-spacing: 1px; 
margin-top:3%; 
padding: 10px 15px 8px; 
text-transform: uppercase;
display:block-inline;
position:fixed;

}

.login-title{
margin-top:3%;
font-size:40px; 
color:#000000;
font-family:Racing Sans One;
letter-spacing: 2px;
text-align: center;
}

.login-info{
font-size:30px;
width: 45vw;
color:#000000;
font-family:Racing Sans One;
text-align: center;
margin-left: auto;
margin-right: auto;
}

u{
text-decoration:none;
box-shadow: inset 0 0px 0 white, inset 0 -1px 0 black;
}

.center {
float: none;
margin-left: auto;
margin-right: auto;
}

.center-image {
width:350px;
display: block;
margin-left: auto;
margin-right: auto;
}

.login-button {
display: block;
margin-left: auto;
margin-right: auto;
}

.line-separator{
height:1px;
width:65%;
margin-top:1%;
background: #717171;
border-bottom:2px ridge #1ED760;
margin-left: auto;
margin-right: auto;
}

/*-------------------------------------------------profileView start------------------------------------*/
.profileView {
  display: flex;
  align-items: center;
}

.info-block {
  margin-bottom: 2vh;
}

.info-title {
  font-family: 'Helvetica';
  padding-bottom: 0.5vh;
}

.playlist-title {
  font-family: 'Helvetica';
  margin: 0;
}

.info-text {
  font-family: 'Palatino Linotype';
  color: green;
  margin: 0;
}

.grid {
  margin-left: -4vw;
}

.inner-grid {
  list-style-type: none;
  display: inline-block;
  padding: 0 2vw 2vh 0;
  overflow-wrap: break-word;
}

.media-object {
  width: 74%;
  border-radius: 3px;
}

.top-images {
  width: 100%;
  border-radius: 3px;
}

/*-------------------------------------------------profileView slut------------------------------------*/

/* HEADER */


/*---------*/
/* Ratedlists (RL) */

.rl-h2{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 50px;
}

.rl-p{
  text-align: center;
}

.rl-rank , .rl-ratio{
  width: 10%;
}
.rl-name{
  width: 80%;
}

.rl-table{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #169145;
  text-align: center;
  margin-top: 4%
}

.rl-table th{
  text-align: center;
}

.rl-table td{
  text-align: center;
  color: #777;
}

.rl-table td p{
  margin: -50px 0px -7px 0px;
  font-size: 40px;
  color: #777;
}

.welcome_vote{
margin-top:2%;
font-size:40px; 
width:65%;
margin-left:16%;
color:#000000;
font-family:Racing Sans One;
letter-spacing: 2px;
padding: 0.6em;
}
.playlist{
border:1px solid;
margin-top:10%;
}

.line{
height:1px;
margin-bottom:2%;
border-bottom:1px solid #000;
}
.rate_title{
font-size:22px;
}
.rate_star{
font-size:22px;
}
.rate_current{
font-size:22px;
}
.rate_star > span:hover:before {
   content: "\2605"; 
   position: absolute;
}

.rate_star {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rate_star > span:hover:before,
.rate_star > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}


.track{
margin-top:2%;
font-size:16px;
margin-bottom:1%;


.rl-table-line{
  border-top: solid 2px #1ED760;
  border-bottom: solid 2px #1ED760;
}

.rl-table-line:hover{
  background-color: black;
  color: green;
}

}
.suggest{
margin-top:5%;
}
.suggest_title{
font-size:18px;
}
.stars{
display: inline;
margin-top:2%;
height:50px;
}


.stars svg{
height:20px;
width:20px;

}
.stars svg polygon{
fill:transparent;
stroke-width:"6";
}
/*---------*/
/*playlistsongs*/
.tracklist{
  overflow: scroll;
  height: 500px;
  width: 100%;
}
/*
	Put all specific design above this comment
*/
